<div class="jumbotron">
    <h1 class="text-center">AluraPic</h1>
</div>
<div class="container">

    <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>

    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="input-group">
                    <span class="input-group-btn">
                        <a [routerLink]="['/cadastro']" class="btn btn-primary">
                            Nova foto
                        </a>
                    </span>
                    <input #search (keyup)="0" class="form-control" type="text" placeholder="Filter...">
                </div>
            </form>
        </div>
    </div>
    <br>

    <div class="row">
        <painel *ngFor="let foto of fotos | listFilter: search.value" title="{{foto.titulo | uppercase}}" class="col-md-2">
            <a [routerLink]="['/cadastro', foto._id]">
                <foto titulo="{{foto.titulo}}" url="{{foto.url}}"></foto>
            </a>
            <button class="btn btn-danger btn-block" (click)="remove(foto)">Remover</button>
        </painel>
    </div>
    <!-- fim row -->
</div>
